DOKPOOL_PROTO=https
DOKPOOL_HOST=host
DOKPOOL_PORT=port
DOKPOOL_PLONESITE=site
DOKPOOL_DOKPOOL=bund
DOKPOOL_GROUPFOLDER=grouo_folder
DOKPOOL_DOCUMENTOWNER=user
#The following User must have enough rights to also delete documents (e.g. role DocPoolAdmin)
DOKPOOL_USER=user
DOKPOOL_PW=pw
